.footer {
  @include flex(row);
  width: 100%;
  background-color: var(--secondary-bg);

  &__container {
    display: grid;
    grid-template-rows: 1fr min-content;
    grid-template-columns: 360px 1fr;
    grid-template-areas:
      'title .'
      'form .'
      'copyright toggler';
    gap: 50px 100px;
    box-sizing: border-box;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 80px 120px 60px;
  }

  &__form {
    grid-area: form;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  &__title {
    grid-area: title;
    width: 230px;
    margin: 0;
    color: var(--primary-text);
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
  }

  &__form {
    @include flex(row);
    gap: 20px;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    margin: 0 0 50px;
    padding: 11px 20px;
    border: 1px solid var(--input-border);
    border-radius: 4px;

    &:hover {
      cursor: pointer;

      & > .footer__input::placeholder {
        color: var(--primary-text);
        opacity: 1;
      }
    }

    &:has(.footer__input:focus) {
      border-color: var(--input-border-active);
    }
  }

  &__input {
    @extend %remove-outline;
    width: calc(100% - 36px);
    color: var(--primary-text);
    font-weight: 500;
    font-size: 13px;
    line-height: 28px;
    background-color: inherit;

    &::placeholder {
      color: var(--secondary-text);
      opacity: $opacity-common;
    }

    &:focus::placeholder {
      color: var(--primary-text);
      opacity: 1;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__submit {
    @extend %remove-outline;
    color: var(--primary-text);
    font-weight: 500;
    font-size: 13px;
    line-height: 28px;

    &:hover {
      cursor: pointer;
    }
  }

  &__copyright {
    grid-area: copyright;
    margin: 0;
    color: var(--ternary-text);
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
  }

  &__theme-switch {
    grid-area: toggler;
    justify-self: end;
    align-self: end;
  }
}
