.intro {
  position: relative;
  display: grid;
  grid-template-rows: repeat(3, max-content) 1fr;
  grid-template-columns: 460px 1fr;
  grid-template-areas:
    'heading photo'
    'text photo'
    'button photo'
    'feat photo';
  gap: 50px 250px;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 20px 0 120px 120px;

  &__heading {
    grid-area: heading;
    margin: 60px 0 0;
    color: var(--primary-text);
    font-weight: 700;
    font-size: 55px;
    line-height: 60px;
    letter-spacing: -.5px;
  }

  &__text {
    grid-area: text;
    margin: 0;
    color: var(--secondary-text);
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
  }

  &__button {
    grid-area: button;
    width: 180px;
    height: 50px;
    padding: 0;
    color: #ffffff;
    background-color: #24b47e;
    border: none;
    border-radius: 4px;
    outline: none;
  }

  &__feat-container {
    position: absolute;
    top: 391px;
    right: 384px;
    display: flex;
    width: 440px;
    height: 300px;
    margin: 0;
    background-color: var(--primary-bg);
    border-radius: 20px;
    box-shadow: -20px 60px 220px rgba(0, 0, 0, .44);
    filter: drop-shadow(-20px 60px 220px rgba(0, 0, 0, .2));
  }

  &__feat-image {
    width: 340px;
    height: 260px;
    margin: auto;
  }

  &__feat {
    position: relative;
    grid-area: feat;
    align-self: end;
    margin: 0;
    padding-bottom: 210px;
    color: var(--primary-text);
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;

    &::before {
      position: absolute;
      top: 9px;
      left: 224px;
      width: 132px;
      height: 2px;
      background-color: #d7d4d4;
      content: '';
    }
  }

  &__photo {
    grid-area: photo;
    aspect-ratio: 100 / 137;
    width: 100%;
  }
}
