.main {
  @include flex(column);
  width: 100%;
  max-width: 1440px;

  &__section {
    @include phones {
      position: relative;

      &::before {
        position: absolute;
        top: 80px;
        left: 18px;
        width: calc(100% - 36px);
        height: 2px;
        background-color: $line-quote;
        content: '';
      }
    }
  }
}
