.page {
  @include flex(column);
  width: 100%;
  font-family: 'Inter', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --primary-text: #{$primary-text-light};
  --secondary-text: #{$secondary-text-light};
  --ternary-text: #{$ternary-text-light};
  --primary-bg: #{$primary-background-light};
  --secondary-bg: #{$secondary-background-light};
  background-color: var(--primary-bg);

  &_theme_dark {
    --primary-text: #{$primary-text-dark};
    --secondary-text: #{$secondary-text-dark};
    --ternary-text: #{$ternary-text-dark};
    --primary-bg: #{$primary-background-dark};
    --secondary-bg: #{$secondary-background-dark};
  }
}
