.page {
  --primary-text: #{$primary-text-light};
  --secondary-text: #{$secondary-text-light};
  --ternary-text: #{$ternary-text-light};
  --primary-bg: #{$primary-background-light};
  --secondary-bg: #{$secondary-background-light};
  --primary-opacity: #{$primary-opacity-light};
  --secondary-opacity: #{$secondary-opacity-light};
  --line: #{$line-light};

  @include flex(column);
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Inter', 'Helvetica', sans-serif;
  background-color: var(--primary-bg);

  &_dark {
    --primary-text: #{$primary-text-dark};
    --secondary-text: #{$secondary-text-dark};
    --ternary-text: #{$ternary-text-dark};
    --primary-bg: #{$primary-background-dark};
    --secondary-bg: #{$secondary-background-dark};
    --primary-opacity: #{$primary-opacity-dark};
    --secondary-opacity: #{$secondary-opacity-dark};
    --line: #{$line-dark};
  }
}
