.quote {
  display: grid;
  grid-template-rows: 1fr max-content max-content;
  grid-template-columns: 1fr 470px;
  grid-template-areas:
    'photo text'
    'photo author'
    'photo info';
  gap: 0 80px;
  padding: 0 120px 60px;

  &__text {
    grid-area: text;
    margin: 0;
    color: var(--primary-text);
    font-weight: 600;
    font-size: 34px;
    line-height: 44px;
    letter-spacing: -.5px;
  }

  &__author {
    grid-area: author;
    margin: 0;
    color: var(--primary-text);
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
  }

  &__author-info {
    grid-area: info;
    margin: 0;
    color: var(--secondary-text);
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    opacity: .7;
  }

  &__photo {
    aspect-ratio: 65 / 46;
    grid-area: photo;
    width: 100%;
  }
}
