@use 'sass:math';

.hamburger {
  display: inline-block;
  margin: 0;
  padding: $hamburger-padding-y $hamburger-padding-x;
  overflow: visible;
  color: inherit;
  font: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: .15s;
  transition-property: opacity, filter;

  &:hover {
    opacity: $hamburger-hover-opacity;
  }

  &.hamburger_active {
    &:hover {
      opacity: $hamburger-active-hover-opacity;
    }

    .hamburger__inner,
    .hamburger__inner::before,
    .hamburger__inner::after {
      background-color: var(--primary-text);
    }
  }
}

.hamburger__box {
  position: relative;
  display: inline-block;
  width: $hamburger-layer-width;
  height: $hamburger-layer-height * 3 + $hamburger-layer-spacing * 2;
}

.hamburger__inner {
  top: 50%;
  display: block;
  margin-top: math.div($hamburger-layer-height, -2);

  &,
  &::before,
  &::after {
    position: absolute;
    width: $hamburger-layer-width;
    height: $hamburger-layer-height;
    background-color: var(--primary-text);
    border-radius: $hamburger-layer-border-radius;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform;
  }

  &::before,
  &::after {
    content: '';
    display: block;
  }

  &::before {
    top: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
  }

  &::after {
    bottom: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
  }
}
