/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */

$hamburger-padding-x           : 0 !default;
$hamburger-padding-y           : 0 !default;
$hamburger-layer-width         : 22px !default;
$hamburger-layer-height        : 3px !default;
$hamburger-layer-spacing       : 5px !default;
$hamburger-layer-border-radius : 4px !default;
$hamburger-hover-opacity       : $opacity-common !default;
$hamburger-active-hover-opacity: $hamburger-hover-opacity !default;

@import 'base';
@import 'squeeze';
