$primary-text-light: #151515;
$secondary-text-light: #222222;
$ternary-text-light: #CFCFCF;
$primary-background-light: #F4F4F4;
$secondary-background-light: #EFEFEF;

$primary-text-dark: #FFFFFF;
$secondary-text-dark: #E5E5E5;
$ternary-text-dark: #565656;
$primary-background-dark: #333333;
$secondary-background-dark: #2F2F2F;
