$primary-text-light: #151515;
$secondary-text-light: #222222;
$ternary-text-light: #cfcfcf;
$primary-background-light: #f4f4f4;
$secondary-background-light: #efefef;

$primary-opacity-light: .75;
$secondary-opacity-light: .6;

$line-light: #d7d4d4;


$primary-text-dark: #ffffff;
$secondary-text-dark: #e5e5e5;
$ternary-text-dark: #565656;
$primary-background-dark: #333333;
$secondary-background-dark: #2f2f2f;

$primary-opacity-dark: .65;
$secondary-opacity-dark: .5;

$line-dark: #707070;


$intro-button: #24b47e;
